.display-section {
    position: relative;
    float: left;
    overflow: auto;
}

.table-bordered thead th {
    width: 160px;
    height: auto;
}

.verticalHeader {
    text-align:center;
    white-space:nowrap;
    transform-origin:50% 50%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.verticalHeader:before {
    content:'';
    padding-top:100%;
    display:inline-block;
    vertical-align:middle;
}

.downloadLabel a span {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
}

// .context-menu {
//     background-color: #222;
//     position: absolute;
//     color: #fff;
//     padding: 30px 20px;
// }

table, th, td {
    border: 1px solid #bfbfbf;
}