<div class="display-section" 
  [style.width.px]="child.width" 
  [style.height.px]="child.height" 
  [ngStyle]="{'background-color': child.pageColor}">
  <!-- (click)="disableContextMenu()" oncontextmenu="return false;"> -->
  <h3>Click to edit the data</h3>
  <div class="downloadLabel" *ngIf="child.isDownloadable">
    <mdb-icon 
      icon="download" 
      (click)="sortBy(header)">
    </mdb-icon>
      Download data
    <a href="https://www.google.com.au/"><span></span></a>
  </div>
  <table class="table-bordered">
    <thead [ngStyle]="{'color':child.headerTxtColor,'background-color':child.headerBGColor}">
      <tr [ngStyle]="{'font-weight': child.fontWeight}">
        <th scope="col" [ngStyle]="{'font-size':child.headerFontSize+'px', 'font-weight': child.fontWeight, 'text-align': child.headerAlignment}">#</th>
        <th scope="col" 
          *ngFor="let header of headers; let id = index" 
          [class.verticalHeader]="child.isVertical"
          [ngStyle]="{'font-size':child.headerFontSize+'px', 'font-weight': child.fontWeight, 'text-align': child.headerAlignment}"
          contenteditable="true" (keyup)="editHeaderValue(id, 'label', $event)">
            {{header.label}}
              <mdb-icon 
                *ngIf="header.sortable" 
                icon="sort" 
                (click)="sortBy(header)">
              </mdb-icon>
        </th>
      </tr>
    </thead>
    <tbody [ngStyle]="{'color':child.tableTxtColor}" >
      <tr 
        *ngFor="let d of data | filter : 'desc' : searchString; let id = index; let odd = odd;" 
        [ngStyle]="{'background-color': odd ? child.color : child.alternateColor, 'text-align': child.textAlignment}">
        <!-- (contextmenu)="onRightClick($event)" > -->
          <th [ngStyle]="{'font-weight': child.fontWeight, 'font-size': child.tableFontSize+'px'}" scope="row">{{id+1}}</th>
          <td [ngStyle]="{'font-weight': child.fontWeight, 'font-size': child.tableFontSize+'px'}" 
            contenteditable="true" (keyup)="editValue(id, 'title', $event)">
              {{d.title}}
          </td>
          <td [ngStyle]="{'font-weight': child.fontWeight, 'font-size': child.tableFontSize+'px'}" 
            contenteditable="true" (keyup)="child.editValue(id, 'desc', $event)">
              {{d.desc}}
          </td>
          <td [ngStyle]="{'font-weight': child.fontWeight, 'font-size': child.tableFontSize+'px'}" 
            contenteditable="true" (keyup)="editValue(id, 'budget', $event)">
              {{d.budget}}
          </td>
          <td [ngStyle]="{'font-weight': child.fontWeight, 'font-size': child.tableFontSize+'px'}" 
            contenteditable="true" (keyup)="editValue(id, 'total_DIN_saved_kgs', $event)">
              {{d.total_DIN_saved_kgs}}
          </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="show">
  <table class="table w-auto ">
    <thead>
      <tr>
        <th scope="row">#</th>
        <th scope="col" *ngFor="let header of headers; let id = index" 
          contenteditable="true" (keyup)="editHeaderValue(id, 'label', $event)">
            {{header.label}}
        </th>
      </tr>
    </thead>
    <tbody [ngStyle]="{'color':tableTxtColor}" >
      <tr *ngFor="let d of data ; let id = index;">
        <th scope="row">{{id+1}}</th>
        <td contenteditable="true" (keyup)="editValue(id, 'title', $event)">{{d.title}}</td>
        <td contenteditable="true" (keyup)="editValue(id, 'desc', $event)">{{d.desc}}</td>
        <td contenteditable="true" (keyup)="editValue(id, 'budget', $event)">{{d.budget}}</td>
        <td contenteditable="true" (keyup)="editValue(id, 'total_DIN_saved_kgs', $event)">{{d.total_DIN_saved_kgs}}</td>
      </tr> 
    </tbody>
  </table>
  <button mdbBtn rounded="true" color="elegant" outline="true" mdbWavesEffect (click)="show = false">Close</button>
</div>

<!-- <div class="context-menu" *ngIf="contextmenu" [ngStyle]="{'left.px': contextmenuX, 'top.px': contextmenuY}">
  <ul>
      <li *ngFor = "let item of menuItems" >{{item}}</li>
  </ul>
    Right clicked {{nRightClicks}} time(s).
</div> -->
<app-edit-section #child [data]="data" [headers]="headers"></app-edit-section>