<div class="display-section" 
  [style.width.px]="width" 
  [style.height.px]="height" 
  [ngStyle]="{'background-color': pageColor}">
  <h3>Click to edit the data</h3>
  <table class="table table-bordered">
    <thead [ngStyle]="{'color':headerTxtColor,'background-color':headerBGColor}">
      <tr [ngStyle]="{'font-weight': fontWeight}">
        <th scope="col">#</th>
        <th scope="col" 
          *ngFor="let header of headers" 
          [ngStyle]="{'font-size':headerFontSize+'px', 'font-weight': fontWeight, 
            'text-align': headerAlignment, 'transform': 'translate(0%, -40%)'+'rotate'+degree, 'height': thHeight+'px'}">
          {{header.label}}
            <mdb-icon 
              *ngIf="header.sortable" 
              icon="sort" 
              (click)="sortBy(header)">
            </mdb-icon>
        </th>
      </tr>
    </thead>
    <tbody [ngStyle]="{'color':tableTxtColor}" >
      <tr 
        *ngFor="let d of data | filter : 'desc' : searchString; let id = index; let odd = odd;" 
        [ngStyle]="{'background-color': odd ? color : alternateColor, 'text-align': textAlignment}" >
          <th [ngStyle]="{'font-weight': fontWeight, 'font-size': tableFontSize+'px'}" scope="row">{{id}}</th>
          <td [ngStyle]="{'font-weight': fontWeight, 'font-size': tableFontSize+'px'}" contenteditable="true" (keyup)="editValue(id, 'title', $event)">{{d.title}}</td>
          <td [ngStyle]="{'font-weight': fontWeight, 'font-size': tableFontSize+'px'}" contenteditable="true" (keyup)="editValue(id, 'desc', $event)">{{d.desc}}</td>
          <td [ngStyle]="{'font-weight': fontWeight, 'font-size': tableFontSize+'px'}" contenteditable="true" (keyup)="editValue(id, 'budget', $event)">{{d.budget}}</td>
          <td [ngStyle]="{'font-weight': fontWeight, 'font-size': tableFontSize+'px'}" contenteditable="true" (keyup)="editValue(id, 'total_DIN_saved_kgs', $event)">{{d.total_DIN_saved_kgs}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="edit-section"> 
  <button mdbBtn rounded="true" color="default" outline="true" mdbWavesEffect (click)="show = true">Edit data</button>
  <h3>Search by description</h3>
  <input type="text" name="searchString" placeholder="Search..." [(ngModel)]="searchString">
  <h3>Color</h3>
  <p>
    Header text
    <input [(colorPicker)]="headerTxtColor" [style.background]="headerTxtColor" [cpPresetColors]="cpPresetColors" [value]="headerTxtColor" [cpOutputFormat]="'hex'" [recentChoose]="recents"/>
  </p>
  <p>
    Table text
    <input [(colorPicker)]="tableTxtColor" [style.background]="tableTxtColor" [cpPresetColors]="cpPresetColors" [value]="tableTxtColor" [cpOutputFormat]="'hex'" [recentChoose]="recents"/>
  </p>
  <p>
    Header background
    <input [(colorPicker)]="headerBGColor" [style.background]="headerBGColor" [cpPresetColors]="cpPresetColors" [value]="headerBGColor" [cpOutputFormat]="'hex'" [recentChoose]="recents"/>
  </p>
  <p>
    Table background
    <input [(colorPicker)]="color" [style.background]="color" [cpPresetColors]="cpPresetColors" [value]="color" [cpOutputFormat]="'hex'" [recentChoose]="recents"/>
  </p>
  <p>
    Alternate background
    <input [(colorPicker)]="alternateColor" [style.background]="alternateColor" [cpPresetColors]="cpPresetColors" [value]="alternateColor" [cpOutputFormat]="'hex'" [recentChoose]="recents"/>
  </p>
  <h3>Page Setting</h3>
  <p>
    Page Width (px) 
    <input value="width" [(ngModel)]="width" (keyup)="updateWidth($event)">
  </p>
  <p>
    Page Hight (px)
    <input value="height" [(ngModel)]="height" (keyup)="updateHeight($event)">
  </p>
  <p>
    Page background
    <input [(colorPicker)]="pageColor" [style.background]="pageColor" [cpPresetColors]="cpPresetColors" [value]="pageColor" [cpOutputFormat]="'hex'" [recentChoose]="recents"/>
  </p>
  <h3>Font Setting</h3>
  <p>Header alignment: 
    <select (change)="headerAlignmentChange($event)">
      <option *ngFor="let o of options">{{o.name}}</option>
    </select>
  </p>
  <p>Text alignment: 
    <select (change)="textAlignmentChange($event)">
      <option *ngFor="let o of options">{{o.name}}</option>
    </select>
  </p>
  <p>Font weight: 
    <select (change)="fontWeightChange($event)">
      <option *ngFor="let fw of FWoptions">{{fw.name}}</option>
    </select>
  </p>
  <p>Header Font size: 
    <input value="headerFontSize" [(ngModel)]="headerFontSize" (keyup)="updateHeaderFontSize($event)">
  </p>
  <p>Table Font size: 
    <input value="tableFontSize" [(ngModel)]="tableFontSize" (keyup)="updateTableFontSize($event)">
  </p>
  <div>Vertical text header
    <label class="switch verticalHeader">
      <input [(ngModel)]="degree" type="checkbox" (change)="verticalHeader($event)">
      <span class="slider round"></span>
    </label>
  </div>
</div>

<div *ngIf="show == true">
  <table id="example1" class="hot handsontable htRowHeaders htColumnHeaders">
    <thead>
      <tr>
        <th scope="row">#</th>
        <th scope="col" *ngFor="let header of headers">{{header.label}}</th>
      </tr>
    </thead>
    <tbody [ngStyle]="{'color':tableTxtColor}" >
      <tr *ngFor="let d of data ; let id = index;">
        <th scope="row">{{id}}</th>
        <td contenteditable="true" (keyup)="editValue(id, 'title', $event)">{{d.title}}</td>
        <td contenteditable="true" (keyup)="editValue(id, 'desc', $event)">{{d.desc}}</td>
        <td contenteditable="true" (keyup)="editValue(id, 'budget', $event)">{{d.budget}}</td>
        <td contenteditable="true" (keyup)="editValue(id, 'total_DIN_saved_kgs', $event)">{{d.total_DIN_saved_kgs}}</td>
      </tr> 
    </tbody>
  </table>
  <button mdbBtn rounded="true" color="default" outline="true" mdbWavesEffect (click)="show = false">Close</button>
</div>
