
// tr:nth-child(even) {
//     background-color: pink;
// }

.display-section {
    position: relative;
    float: left;
    overflow: auto;
}

.edit {
    position: relative;
}

p {
    font-size: 13px;
}

table {
    border-collapse: unset;
}