<div>
  <app-table 
    (ctrlButtonClicked)="buttonClickedHandler($event)" 
    [data]="data" 
    [headers]="headers" 
    [buttonText]="buttonText"
    [width]="width"
    [height]="height"
    [headerAlignment]="headerAlignment"
    [textAlignment]="textAlignment"
    [headerFontSize]="headerFontSize"
    [tableFontSize]="tableFontSize"
    [fontWeight]="fontWeight"
    [headerTxtColor]="headerTxtColor"
    [tableTxtColor]="tableTxtColor"
    [headerBGColor]="headerBGColor"
    [color]="color"
    [alternateColor]="alternateColor"
    [pageColor]="pageColor"
    [isVertical]="isVertical"
    [isDynamicWidth]="isDynamic"
    [contenteditable]="contenteditable"
    [isDownloadable]="isDownloadable">
  </app-table>
  <app-edit-section 
    (styleUpdated)="styleUpdatedHandler($event)"
    [options] = "options"
    [FWoptions]= "FWoptions">
  </app-edit-section>
</div>