<div>
  <app-newtable 
    (ctrlButtonClicked)="buttonClickedHandler($event)" 
    [data]="data" 
    [headers]="headers" 
    [buttonText]="buttonText"
    [width]="width"
    [height]="height"
    [isVertical]="isVertical"
    [isDynamicWidth]="isDynamic"
    [contenteditable]="contenteditable">
  </app-newtable>
  <app-edit-section 
    (widthUpdated)="widthUpdatedHandler($event)"
    (heightUpdated)="heightUpdatedHandler($event)"
    (verticalUpdated)="toggleVerticalUpdated($event)"
    (columnWidthUpdated)="toggleColumnUpdated($event)"
    (editableTableShowed)="toggleEditableTable($event)" >
  </app-edit-section>
</div>